ALTER TABLE tickets ENABLE ROW LEVEL SECURITY; DROP POLICY IF EXISTS tickets_select_policy ON tickets; CREATE POLICY tickets_select_policy ON tickets FOR SELECT TO public USING (CASE WHEN auth.jwt() ->> 'role' = 'admin' THEN true WHEN auth.jwt() ->> 'role' = 'agent' THEN (group_id IN (SELECT id FROM groups WHERE name != 'Admin') OR group_id IS NULL OR auth.uid() = assigned_to) ELSE auth.uid() = user_id END);
